<template>
  <div>
    <v-container>
      <v-row align="center" justify="center">
        <v-col cols="12">
          <v-card elevation="18" class="pa-10" >
            <v-row class="d-flex justify-space-between">
              <v-col cols="12" md="7">
                <p class="display-2 font-weight-bold pink--text" > :(</p>
                <p class="display-1 font-weight-bold">Actually we don't have data available</p>
                <p>Create your widgets to see what's happening</p>
              </v-col>
              <v-col cols="12" md="4" class="d-flex align-center">
                <v-btn text large dark class="text-capitalize black">Created Widgets</v-btn>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>