<template>
  <div>
    <v-container>
      <v-row align="center" justify="start">
       
              <p class="pt-5 m-0 subtitle-1 ml-4">Most Recently</p>
       
        <v-col cols="3" >
              <v-select
                v-model="selected"
                :items="options"
                menu-props="auto"
                hide-details
              ></v-select>
        </v-col>
        <v-col cols="12" md="12">
          <v-card elevation="18">
            <v-simple-table :dense="dense" :fixed-header="fixedHeader">
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-left subtitle-1 font-weight-bold">Imail</th>
                    <th class="text-left subtitle-1 font-weight-bold">Country</th>
                    <th class="text-left subtitle-1 font-weight-bold">Date</th>
                    <th class="text-left subtitle-1 font-weight-bold">Site Url</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in subscribers" :key="item.name">
                    <td>{{ item.email }}</td>
                    <td>{{ item.country }}</td>
                    <td>{{ item.date }}</td>
                    <td>{{ item.siteUrl }}</td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-card>
          <v-row cols="12" md="4" class="mt-5 mb-6 d-flex align-center justify-content-center">
              <v-btn text large dark class="text-capitalize black">See All Data</v-btn>
            </v-row>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
export default {
  data: () => ({
    dense: false,
    selected: 'Subscribers',
    options: ['Subscribers', 'Clicks in promotions', 'Times Closed'],
    fixedHeader: false,
    subscribers: [
      {
        email: "email@email.com",
        country: "Colombia",
        date: "today, 12:23pm",
        siteUrl: "bypeople.com"
      },
      {
        email: "email@email.com",
        country: "Colombia",
        date: "today, 12:23pm",
        siteUrl: "bypeople.com"
      },
      {
        email: "email@email.com",
        country: "Colombia",
        date: "today, 12:23pm",
        siteUrl: "bypeople.com"
      },
      {
        email: "email@email.com",
        country: "Colombia",
        date: "today, 12:23pm",
        siteUrl: "bypeople.com"
      },
      {
        email: "email@email.com",
        country: "Colombia",
        date: "today, 12:23pm",
        siteUrl: "bypeople.com"
      },
      {
        email: "email@email.com",
        country: "Colombia",
        date: "today, 12:23pm",
        siteUrl: "bypeople.com"
      },
      {
        email: "email@email.com",
        country: "Colombia",
        date: "today, 12:23pm",
        siteUrl: "bypeople.com"
      }
    ]
  })
};
</script>
