@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=IBM+Plex+Serif&display=swap');
body{
    font-family: 'IBM Plex Sans', sans-serif !important;
}
.font-title{
    font-family: 'IBM Plex Serif', serif !important;       
}