<template>
  <div>
    <v-container>
      <div class="mt-9">
        <p class="display-1 font-weight-bold" id="text-title">Welcome back Cristian!</p>
        <p>Here a little bit of your stats</p>
      </div>
      <div class="card-analytics my-5">
        <a v-for="(card, index) in cards " :key="index">
          <v-hover v-slot:default="{ hover }">
            <v-card :elevation="hover ? 6 : 10">
              <v-card-text class="pink">
                <div class="white--text" v-text="card.title"></div>
                <p
                  class="display-3 font-weight-bold white--text mt-10"
                  id="text-title"
                  v-text="card.quantity"
                ></p>
              </v-card-text>
              <v-card-actions>
                <v-btn block text class="text-capitalize black--text" v-text="card.btn"></v-btn>
              </v-card-actions>
            </v-card>
          </v-hover>
        </a>
      </div>
    </v-container>
    <div v-if="data">
      <table-subscribers></table-subscribers>
    </div>
    <div v-if="!data">
      <notification-not-data></notification-not-data>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: true,
      cards: [
        {
          title: "Topbar Bypeople",
          quantity: 20,
          btn: "Clicks in promotion"
        },
        {
          title: "Topbar Bypeople",
          quantity: 200,
          btn: "Subscribers"
        },
        {
          title: "Topbar Bypeople",
          quantity: 210,
          btn: "Times closed"
        }
      ]
    };
  }
};
</script>

<style>
.card-analytics {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1em;
}
</style>