<template>
  <div class="mb-12">
    <h5 class="text-center display-1 my-6">Edit your widget here</h5>

            <v-card class="d-block m-auto" height="auto" max-width="750px">
      <v-stepper v-model="pos">
        <v-stepper-header>
          <v-stepper-step :complete="pos > 1" step="1" editable>Setting</v-stepper-step>

          <v-divider></v-divider>

          <v-stepper-step step="2" editable>Content</v-stepper-step>
        </v-stepper-header>

        <v-stepper-items>
          <v-stepper-content step="1" class>
            <v-row class="display-flex justify-content-center">
              <h4>Setting your widget here!</h4>
            </v-row>
            <v-row class="display-flex justify-content-center">
              <v-col cols="12" md="10" lg="8">
                <v-text-field
                  v-model="widget.web"
                  label="Put here your website"
                  required
                  hint="Example: 'www.bypeople.com', 'www.artify.co/'"
                ></v-text-field>
              </v-col>
            </v-row>
            <!-- ------------------------------------------------- -->
            <v-row class="display-flex justify-content-center">
              <v-col cols="12" md="5" lg="4">
                <v-select
                  v-model="widget.theme"
                  :items="themes"
                  menu-props="auto"
                  label="Theme"
                  dense
                ></v-select>
              </v-col>
              <v-col cols="12" md="5" lg="4">
                <v-select
                  :items="positions"
                  label="Position"
                  dense
                  menu-props="auto"
                  v-model="widget.position"
                ></v-select>
              </v-col>
            </v-row>
            <v-row class="display-flex justify-content-center">
              <v-col cols="12" md="5" lg="4">
                <v-select
                  :items="webOptions"
                  label="Where to show?"
                  dense
                  menu-props="auto"
                  v-model="widget.webSelect"
                ></v-select>
              </v-col>
              <v-col cols="12" md="5" lg="4">
                <v-checkbox
                  class
                  v-model="widget.alwaysShow"
                  label="Always Show?"
                  color="dark"
                  hide-details
                ></v-checkbox>
              </v-col>
            </v-row>
            <v-row
              class="display-flex justify-content-center"
              v-if="widget.webSelect == 'Personalize'"
            >
              <v-col cols="12" md="10" lg="8">
                <v-chip
                  filter
                  outlined
                  close
                  v-for="(web, index) in widget.websArray"
                  :key="index"
                  @click:close="remove(index)"
                >{{web}}</v-chip>
              </v-col>
            </v-row>
            <v-row
              class="display-flex justify-content-center"
              v-if="widget.webSelect == 'Personalize'"
            >
              <v-col cols="12" md="10" lg="8">
                <v-text-field
                  v-model="newWeb"
                  label="text to display by url"
                  required
                  append-icon="mdi-plus-circle-outline"
                  hint="Example: 'home', 'services/option', 'post/*'"
                  persistent-hint
                  @click:append="addWeb"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="12" class="d-flex justify-content-end">
                <v-btn color="primary" class @click="pos = 2">Continue</v-btn>
              </v-col>
            </v-row>
          </v-stepper-content>

          <v-stepper-content step="2">
            <v-row class="display-flex justify-content-center">
              <h4>Enter the content to be displayed. And ready!</h4>
            </v-row>
            <v-row class="display-flex justify-content-center">
              <v-col cols="12" md="10" lg="8">
                <v-text-field v-model="widget.name" :counter="20" label="Name Widget" required></v-text-field>
              </v-col>
            </v-row>

            <v-row class="display-flex justify-content-center">
              <v-col cols="12" md="10" lg="8">
                <v-text-field
                  v-model="widget.message"
                  :counter="30"
                  label="Message to show"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row class="display-flex justify-content-center">
              <v-col cols="12" md="10" lg="8">
                <v-text-field v-model="widget.url" label="Address to redirect" required></v-text-field>
              </v-col>
            </v-row>
            <v-row class="display-flex justify-content-center">
              <v-col cols="12" md="10" lg="8">
                <v-text-field
                  v-model="widget.text_url"
                  :counter="12"
                  label="text to display by url"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row class="mt-8">
              <v-col class="d-flex justify-space-between">
                <v-btn text @click="pos = 1">Previous</v-btn>
                <v-btn color="primary" @click="update">Create</v-btn>
              </v-col>
            </v-row>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </v-card>

  </div>
</template>
<script>
export default {
  props: ["slog"],
  id: "",
  data: () => ({
     pos: 1,
      widget: {
      name: "",
      theme: "",
      message: "",
      position: "",
      url: "",
      text_url: "",
      web: "",
      websArray: [],
      webSelect: "",
      alwaysShow: true
    },
    script: false,
    scriptCopy: "",
    positions: ["Top", "Bottom"],
    themes: ["Dark", "Ligth"],

    newWeb: "",
    webOptions: ["All", "Personalize"]
  }),
  created() {
    this.getWidgetUser();
  },
  methods: {
     addWeb() {
      this.widget.websArray.push(this.newWeb);
      this.newWeb = "";
    },
    getWidgetUser() {
        let url = "/api/widget/webs/"+this.slog
        axios.get(url).then(response => {
            console.log(response.data);
            this.id = response.data.widget.id;
            this.widget.web = response.data.web[0].url;

            let data= JSON.parse(response.data.widget.data);
            let webData= JSON.parse(response.data.web[0].rules);
            this.widget.theme = data.theme;
            this.widget.position = data.position;
             console.log(webData)
            if(webData.all == ""){
              this.widget.webSelect = "Personalize"
            }else{
               this.widget.webSelect = "All"
            }
            this.widget.websArray = webData.include
            this.widget.name = response.data.widget.name;
            this.widget.message = data.message;
            console.log(this.widget.url);
            this.widget.url = data.url;
            this.widget.text_url = data.text_url;
        }).catch(error =>{
            console.log(error.response.data);
        });
      

    },
    update() {
        let url = "/api/widgets/"+this.id
            // console.log(url, this.widget)

        axios.put(url, this.widget).then(response => {
            location.href = '/widgets'
        }).catch(error => {
            console.log(error.response.data)
        });
    }
  }
};
</script>