<template >
  <div>
    <v-content>
      <home></home>
    </v-content>
  </div>
</template>
<script>
export default {
  data() {
    return {
      
    }
  },
  methods: {
    login(){
      console.log('0h')

      location.href="http://127.0.0.1:8000/login"
      
    },
    register(){
      location.href="http://127.0.0.1:8000/login"
    }
  },
}
</script>