<template>
  <v-app>
    <v-content>
      <v-container class="full-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="10" md="8">
            <v-card class="pa-10 elevation-12">
              <form action="login_form" method="POST" arial-label="Login">
                <v-toolbar color="white" dark flat>
                  <v-toolbar-title class="pb-6 black--text font-weight-bold">
                    <h2>Log in</h2>
                  </v-toolbar-title>
                </v-toolbar>
                <v-card-actions>
                  <v-btn
                    color="red darken-1"
                    depressed
                    outlined
                    dark
                    large
                    block
                    class="flex-grow-1 mr-1 font-weight-bold text-capitalize body-2"
                  >Google</v-btn>
                </v-card-actions>
                <v-card-actions>
                  <v-btn
                    color="blue darken-3"
                    depressed
                    outlined
                    dark
                    large
                    block
                    class="flex-grow-1 ml-1 font-weight-bold text-capitalize body-2"
                  >Facebook</v-btn>
                </v-card-actions>

                <input type="hidden" name="_token" :value="csrf_token" />

                <v-card-text>
                  <v-text-field
                    aria-autocomplete="false"
                    v-model="login_form.email_field.value"
                    :label="login_form.email_field.label"
                    :name="login_form.email_field.name"
                    :v-validate="login_form.email_field.rules"
                  />
                  <v-text-field
                    class="mb-n1"
                    v-model="login_form.password_field.value"
                    :label="login_form.password_field.label"
                    :name="login_form.password_field.name"
                    :type="login_form.password_field.type"
                    :v-validate="login_form.password_field.rules"
                  />
                </v-card-text>
                <v-card-actions>
                  <v-checkbox v-model="login_form.remember_check.value" class="ml-1">
                    <template v-slot:label>
                      <div class="mt-2">Remember me</div>
                    </template>
                  </v-checkbox>
                </v-card-actions>
                <v-card-actions>
                  <v-btn color="primary" block @click="login">Log in</v-btn>
                </v-card-actions>
                <v-card-actions class="py-5">
                  <!-- <v-btn text class="text-lowercase" :to="{ name: 'passwordReset'}">
                                        forgot password
                  </v-btn>-->
                  <v-spacer />
                  <v-btn text class="text-lowercase" :to="{ name: 'signup'}">sign up</v-btn>
                </v-card-actions>
              </form>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: "login-form",
  data: () => ({
    login_form: {
      email_field: {
        value: "",
        rules: "require|max:255",
        label: "email",
        type: "email"
      },
      password_field: {
        value: "",
        rules: "required|min:6",
        name: "password",
        label: "password",
        type: "password"
      },
      remember_check: {
        value: false
      }
    }
  }),
  computed: {
    csrf_token() {
      let token = document.head.querySelector('meta[name="csrf-token"]');
      return token.content;
    }
  },
  methods: {
    login() {
      let url = "http://127.0.0.1:8000/login";
      let formData = new FormData();
      formData.append("email", this.login_form.email_field.value);
      formData.append("password", this.login_form.password_field.value);
      formData.append("remember", this.login_form.remember_check);
      axios
        .post(url, formData)
        .then(response => {
          location.href = "/";
        })
        .catch(error => {
          console.log(error.response.data);
        });
    }
  }
};
</script>