<template>
  <div class="mb-12">
    <h5 class="text-center display-1 my-6">Create your Widget easily</h5>
    <v-card class="d-block m-auto" height="auto" max-width="750px">
      <v-stepper v-model="pos">
        <v-stepper-header>
          <v-stepper-step :complete="pos > 1" step="1" editable>Setting</v-stepper-step>

          <v-divider></v-divider>

          <v-stepper-step step="2" editable>Content</v-stepper-step>
        </v-stepper-header>

        <v-stepper-items>
          <v-stepper-content step="1" class>
            <v-row class="display-flex justify-content-center">
              <h4>Setting your widget here!</h4>
            </v-row>
            <v-row class="display-flex justify-content-center">
              <v-col cols="12" md="10" lg="8">
                <v-text-field
                  v-model="widget.web"
                  label="Put here your website"
                  required
                  hint="Example: 'www.bypeople.com', 'www.artify.co/'"
                ></v-text-field>
              </v-col>
            </v-row>
            <!-- ------------------------------------------------- -->
            <v-row class="display-flex justify-content-center">
              <v-col cols="12" md="5" lg="4">
                <v-select
                  v-model="widget.theme"
                  :items="themes"
                  menu-props="auto"
                  label="Theme"
                  dense
                ></v-select>
              </v-col>
              <v-col cols="12" md="5" lg="4">
                <v-select
                  :items="positions"
                  label="Position"
                  dense
                  menu-props="auto"
                  v-model="widget.position"
                ></v-select>
              </v-col>
            </v-row>
            <v-row class="display-flex justify-content-center">
              <v-col cols="12" md="5" lg="4">
                <v-select
                  :items="webOptions"
                  label="Where to show?"
                  dense
                  menu-props="auto"
                  v-model="widget.webSelect"
                ></v-select>
              </v-col>
              <v-col cols="12" md="5" lg="4">
                <v-checkbox
                  class
                  v-model="widget.alwaysShow"
                  label="Always Show?"
                  color="dark"
                  hide-details
                ></v-checkbox>
              </v-col>
            </v-row>
            <v-row
              class="display-flex justify-content-center"
              v-if="widget.webSelect == 'Personalize'"
            >
              <v-col cols="12" md="10" lg="8">
                <v-chip
                  filter
                  outlined
                  close
                  v-for="(web, index) in widget.websArray"
                  :key="index"
                  @click:close="remove(index)"
                >{{web}}</v-chip>
              </v-col>
            </v-row>
            <v-row
              class="display-flex justify-content-center"
              v-if="widget.webSelect == 'Personalize'"
            >
              <v-col cols="12" md="10" lg="8">
                <v-text-field
                  v-model="newWeb"
                  label="text to display by url"
                  required
                  append-icon="mdi-plus-circle-outline"
                  hint="Example: 'home', 'services/option', 'post/*'"
                  persistent-hint
                  @click:append="addWeb"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="12" class="d-flex justify-content-end">
                <v-btn color="primary" class @click="pos = 2">Continue</v-btn>
              </v-col>
            </v-row>
          </v-stepper-content>

          <v-stepper-content step="2">
            <v-row class="display-flex justify-content-center">
              <h4>Enter the content to be displayed. And ready!</h4>
            </v-row>
            <v-row class="display-flex justify-content-center">
              <v-col cols="12" md="10" lg="8">
                <v-text-field v-model="widget.name" :counter="20" label="Name Widget" required></v-text-field>
              </v-col>
            </v-row>

            <v-row class="display-flex justify-content-center">
              <v-col cols="12" md="10" lg="8">
                <v-text-field
                  v-model="widget.message"
                  :counter="30"
                  label="Message to show"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row class="display-flex justify-content-center">
              <v-col cols="12" md="10" lg="8">
                <v-text-field v-model="widget.url" label="Address to redirect" required></v-text-field>
              </v-col>
            </v-row>
            <v-row class="display-flex justify-content-center">
              <v-col cols="12" md="10" lg="8">
                <v-text-field
                  v-model="widget.text_url"
                  :counter="12"
                  label="text to display by url"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row class="mt-8">
              <v-col class="d-flex justify-space-between">
                <v-btn text @click="pos = 1">Previous</v-btn>
                <v-btn color="primary" @click="create">Create</v-btn>
              </v-col>
            </v-row>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </v-card>

    <v-row justify="center">
      <v-dialog v-model="script" max-width="390">
        <v-card>
          <v-card-title class="headline">Copy this Script in the Heat of your website</v-card-title>

          <v-card-text>
            <v-textarea filled v-model="scriptCopy"></v-textarea>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn color="green darken-1" text @click="script = false">Close</v-btn>

            <!-- <v-btn color="green darken-1" text @click="script = false">Copy!</v-btn> -->
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </div>
</template>
<script>
export default {
  data: () => ({
    pos: 1,
    widget: {
      name: "",
      theme: "",
      message: "",
      position: "",
      url: "",
      text_url: "",
      web: "",
      websArray: [],
      webSelect: "",
      alwaysShow: true
    },
    script: false,
    scriptCopy: "",
    positions: ["Top", "Bottom"],
    themes: ["Dark", "Ligth"],

    newWeb: "",
    webOptions: ["All", "Personalize"]
  }),
  watch: {
    script(val) {
      !val && this.close();
    }
  },
  methods: {
    close() {
      location.href = "/widgets";
    },
    addWeb() {
      this.widget.websArray.push(this.newWeb);
      this.newWeb = "";
    },
    remove(index) {
      this.widget.websArray.splice(index, 1);
    },
    create() {
      let url = "api/widgets";
      axios
        .post(url, this.widget)
        .then(response => {
          (this.scriptCopy = response.data), (this.script = true);
        })
        .catch(error => {
          console.log(error.response.data);
        });
    }
  }
};
</script>
<style>
.v-input--selection-controls {
  margin-top: 0px !important;
}
label {
  margin-bottom: 0px;
}
</style>