<template>
  <v-app>
    <v-content>
      <v-container class="full-height">
        <v-row align="center" justify="center">
          <v-col cols="12" sm="10" md="8">
            <v-card class="pa-10 elevation-12">
              <form id="singup_form" method="POST" aria-label="Login">
                <v-toolbar color="white" dark flat>
                  <v-toolbar-title class="pb-6 black--text font-weight-bold">
                    <h2>Sign up</h2>
                  </v-toolbar-title>
                </v-toolbar>
                <v-card-actions>
                  <v-btn
                    color="red darken-1"
                    depressed
                    outlined
                    dark
                    large
                    block
                    class="flex-grow-1 mr-1 font-weight-bold text-capitalize body-2"
                  >Google</v-btn>
                </v-card-actions>
                <v-card-actions>
                  <v-btn
                    color="blue darken-3"
                    depressed
                    outlined
                    dark
                    large
                    block
                    class="flex-grow-1 ml-1 font-weight-bold text-capitalize body-2"
                  >Facebook</v-btn>
                </v-card-actions>

                <input type="hidden" name="_token" :value="csrf_token" />

                <v-card-text>
                  <v-text-field
                    aria-autocomplete="false"
                    v-model="singup_form.name_field.value"
                    :data-vv-name="singup_form.name_field.name"
                    :label="singup_form.name_field.label"
                    :name="singup_form.name_field.name"
                  />
                  <v-text-field
                    aria-autocomplete="false"
                    v-model="singup_form.email_field.value"
                    :data-vv-name="singup_form.email_field.name"
                    :label="singup_form.email_field.label"
                  />
                  <v-text-field
                    class="mb-n1"
                    v-model="singup_form.password_field.value"
                    :data-vv-name="singup_form.password_field.name"
                    :label="singup_form.password_field.label"
                    :placeholder="singup_form.password_field.placeholder"
                    :name="singup_form.password_field.name"
                    :type="singup_form.password_field.type"
                  />
                 </v-card-text>
                <v-card-actions>
                  <v-btn color="primary" block @click="register">Sign up</v-btn>
                </v-card-actions>
                <v-card-actions>
                  <v-checkbox v-model="singup_form.remember_check.value">
                    <template v-slot:label>
                      <div>
                        I agree
                        <v-tooltip bottom>
                          <template v-slot:activator="{ on }">
                            <a target="_blank" href="http://bypeople.com" @click.stop v-on="on">TyC</a>
                          </template>
                          Opens in new window
                        </v-tooltip>
                      </div>
                    </template>
                  </v-checkbox>
                </v-card-actions>
                <v-card-actions class="py-5">
                  <v-btn text class="text-lowercase" :to="{ name: 'login'}">Log in</v-btn>
                </v-card-actions>
              </form>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>

    export default {
        name: "signin-form",
        data: () => ({
            singup_form: {
                name_field: {
                    value: '',
                    rules: 'required|max:100',
                    label: 'name',
                    name: 'name',
                    type: 'text',
                },
                email_field: {
                    value: '',
                    rules: 'required|max:255',
                    label: 'email',
                    type: 'email',
                },
                password_field: {
                    value: '',
                    rules: 'required|min:6',
                    label: 'password',
                    name: 'password',
                    type: 'password'
                },
                remember_check: {
                    value: false
                }
            }
        }),
        computed: {
            csrf_token() {
                let token = document.head.querySelector('meta[name="csrf-token"]')
                return token.content
            }
        },
        methods: {
            register(){
                const url = '/register'
                let formData = new FormData();
                formData.append('name', this.singup_form.name_field.value);
                formData.append('email', this.singup_form.email_field.value);
                formData.append('password', this.singup_form.password_field.value);
                axios.post(url, formData).then(response =>{
                    location.href ='/widgets'; 
                }).catch(error =>{
                    console.log(error.response)
                })

            }
        }
    }
</script>