<template>
  <div>
    <v-container class="my-5">
      <v-row>
        <div>
          <p class="display-1 font-weight-bold" id="text-title">Here your widgets</p>
          <p id="text-title font-title">Check their status and settings</p>
        </div>
        <v-spacer></v-spacer>
        <div>
          <v-btn dark color="black" class="text-capitalize" :to="{name: 'new-widget'}">
            <v-icon left>mdi-plus</v-icon>
            <span>Create New</span>
          </v-btn>
        </div>
      </v-row>
      <widgets-user></widgets-user>
    </v-container>
  </div>
</template>
