<template>
  <div>
    <v-app>
      <navegation></navegation>
      <transition name='slide-fade' mode='out-in'>
            <router-view :key="$route.fullPath"></router-view>
      </transition>
    </v-app>
  </div>
</template>

<script>
    export default {
        created() {
          // console.log(this.user);
        },
    }
    
</script>

