<template>
  <div class="mb-12">
    <h5 class="text-center display-1 my-6">Create your Widget easily</h5>
    <v-form class="mb-12">
      <v-container>
        <v-row class="display-flex justify-content-center">
          <v-col cols="12" md="8" lg="6">
            <v-text-field v-model="widget.name" :counter="20" label="Name Widget" required></v-text-field>
          </v-col>
        </v-row>

        <v-row class="display-flex justify-content-center">
          <v-col cols="12" md="8" lg="6">
            <v-text-field v-model="widget.message" :counter="30" label="Message to show" required></v-text-field>
          </v-col>
        </v-row>
        <v-row class="display-flex justify-content-center">
          <v-col cols="12" md="8" lg="6">
            <v-text-field v-model="widget.url" label="Address to redirect" required></v-text-field>
          </v-col>
        </v-row>
        <v-row class="display-flex justify-content-center">
          <v-col cols="12" md="8" lg="6">
            <v-text-field
              v-model="widget.text_url"
              :counter="12"
              label="text to display by url"
              required
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row class="display-flex justify-content-center">
          <v-col cols="12" md="4" lg="3">
            <v-select v-model="widget.theme" :items="themes" menu-props="auto" label="Theme" dense></v-select>
          </v-col>
          <v-col cols="12" md="4" lg="3">
            <v-select
              :items="positions"
              label="Position"
              dense
              menu-props="auto"
              v-model="widget.position"
            ></v-select>
          </v-col>
        </v-row>
        <v-row class="display-flex justify-content-center">
          <v-col cols="12" md="8" lg="6">
            <v-btn dark color="black" class="text-capitalize w-100" @click="create">
              <v-icon left>mdi-plus</v-icon>
              <span>Create Now</span>
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-form>
    <v-row justify="center">
      <v-dialog v-model="script" max-width="390">
        <v-card>
          <v-card-title class="headline">Copy this Script in the Heat of your website</v-card-title>

          <v-card-text>
            <v-textarea
              filled
              v-model="scriptCopy"
            ></v-textarea>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn color="green darken-1" text @click="script = false">Close</v-btn>

            <!-- <v-btn color="green darken-1" text @click="script = false">Copy!</v-btn> -->
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </div>
</template>
<script>
export default {
  data: () => ({
    widget: {
      name: "",
      theme: "",
      message: "",
      position: "",
      url: "",
      text_url: ""
    },
    script: false,
    scriptCopy: "fafafafaf",
    positions: ["Top", "bottom"],
    themes: ["dark", "ligth"]
  }),
  methods: {
    create() {
      let url = "api/widgets";
      axios
        .post(url, this.widget)
        .then(response => {
          (this.scriptCopy = response.data), (this.script = true);
          console.log(response.data);
        })
        .catch(error => {
          console.log(error.response.data);
        });
      console.log("FUNCIONA");
    },
   
  }
};
</script>