<template>
  <div>
    <nav>
      <v-toolbar>
        <v-toolbar-title class="text-capitalize black--text pa-10">
          <span class="font-weight-medium">TopBarWidget</span>
        </v-toolbar-title>

        <v-spacer></v-spacer>

        <v-btn fab text class="black--text">
          <v-icon>mdi-bell</v-icon>
        </v-btn>
        <v-btn fab text class="black--text" @click="menu = true">
          <v-icon>mdi-dots-vertical</v-icon>
        </v-btn>
      </v-toolbar>
    </nav>
    <v-navigation-drawer v-model="menu" :right="true" absolute temporary dark>
      <v-list dense nav class="py-0" v-if="guest">
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>You must start the section</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>
        <v-list-item link :to="path.home">
          <v-list-item-icon class="mr-3">
            <v-icon>mdi-home-variant</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>Home</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        

        <v-list-item link :to="{name: 'login'}">
          <v-list-item-icon class="mr-3">
            <v-icon>mdi-login-variant</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>Login</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link :to="{name: 'signup'}">
          <v-list-item-icon class="mr-3">
            <v-icon>mdi-account-plus</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>Register</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <v-list dense nav class="py-0" v-if="check">
        <v-list-item two-line>
          <v-list-item-avatar class="mr-3">
            
            <img src="https://randomuser.me/api/portraits/men/81.jpg" />
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title v-text="user.name"></v-list-item-title>
            <v-list-item-subtitle>Bronce</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>
        <v-list-item link :to="path.home">
          <v-list-item-icon class="mr-3">
            <v-icon>mdi-home-variant</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>Home</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        
        <v-list-item link :to="path.widgets">
          <v-list-item-icon class="mr-3">
            <v-icon>mdi-view-dashboard</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>Widgets</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item :to="path.analytics">
          <v-list-item-icon class="mr-3">
            <v-icon>mdi-google-analytics</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>Analytics</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item @click="logout()">
          <v-list-item-icon class="mr-3">
            <v-icon>mdi-logout</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>Logout</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>
  </div>
</template>
<script>
export default {
  data() {
    return {
      menu: false,
      path: {
        widgets: "/widgets/",
        analytics: "/analytics",
        home: "/"
      }
    };
  }
};
</script>