<template>
  <div>
    <v-row>
      <v-col
        cols="12"
        sm="6"
        lg="4"
        wrap
        class="displa-flex justify-between"
        v-for="widget in card_widgets"
        :key="widget.id"
      >
        <v-card elevation="18">
          <v-card-text class="pink d-flex justify-space-between">
            <p class="title font-weight-bold white--text" id="text-title">{{widget.name}}</p>
            <v-btn text icon color="white" :to="{name: 'edit-widget', params: {slog: widget.slog}}">
              <v-icon>mdi-grease-pencil</v-icon>
            </v-btn>
          </v-card-text>
          <v-card-actions v-if="widget.status == 0">
            <v-btn text class="text-capitalize black--text" @click="showDial(widget.script)">
              <v-icon right color="grey">mdi-code-tags</v-icon>
              <span left>Show code</span>
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn text class="text-capitalize black--text" @click="changeStatus(widget.id)">
              <v-icon left color="green">mdi-checkbox-marked-circle-outline</v-icon>
              <span right>Activate now</span>
            </v-btn>
          </v-card-actions>
          <v-card-actions v-else>
            <v-btn text class="text-capitalize black--text" @click="showDial(widget.script)">
              <v-icon right color="grey">mdi-code-tags</v-icon>
              <span left>Show code</span>
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn text class="text-capitalize black--text"  @click="changeStatus(widget.id)">
              <v-icon left color="grey">mdi-close-circle-outline</v-icon>
              <span right>Disable it</span>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
      <!-- card to create new widget -->
      <v-col cols="12" sm="6" lg="4">
        <v-hover v-slot:default="{ hover }">
          <a>
            <v-card
              class="card-add d-flex justify-center align-center flex-column"
              :elevation="hover ? 6 : 18"
              :to="{name: 'new-widget'}"
            >
              <v-btn text large icon color="black">
                <v-icon>mdi-plus</v-icon>
              </v-btn>
              <v-card-text>
                <div class="title black--text text-center font-weight-bold">Create New</div>
              </v-card-text>
            </v-card>
          </a>
        </v-hover>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-dialog v-model="script" max-width="390">
        <v-card>
          <v-card-title class="headline">Copy this Script in the Heat of your website</v-card-title>

          <v-card-text>
            <v-textarea filled v-model="scriptCopy"></v-textarea>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn color="green darken-1" text @click="script = false">Close</v-btn>

            <!-- <v-btn color="green darken-1" text @click="script = false">Copy!</v-btn> -->
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </div>
</template>

<script>
// import WidgetsVue from '../views/Widgets.vue';
export default {
  data: () => ({
    script: false,
    scriptCopy: "",
    card_widgets: []
  }),
  created() {
    this.getWidget();
  },
  methods: {
    changeStatus(id){
      let url = "/api/change/status/"+id;
      axios.get(url).then(response => {
        console.log(response);
        this.getWidget();
      }).catch(error => {
        console.log(error.response.data)
      })
      console.log(id);
    },

    showDial(script){
      this.scriptCopy = script
      this.script= true
    },
    getWidget() {
      let url = "/api/widgets";
      axios
        .get(url)
        .then(response => {
          this.card_widgets = response.data;
          console.log(response.data);
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>
